body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-container {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background: #ba68c8;
}

.buttons {
  display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 20px;
    height: 9%;
}
.btn {
  width: 30%;
  background: white;
}
.touch-container {
  height: 80%;
}